<footer class="footer-area mt-5">
  <div class="footer-big py-5">
    <!-- start .container -->
    <div class="container">
      <div class="row">
        <div class="margin-mobile flex-footer col-md-3 col-sm-12">
          <div class="footer-widget">
            <div class="widget-about img-logo">
                <a href=""><img src="../../assets/images/logo-blanco.svg" alt=""></a> 
            </div>
          </div>
        </div>
        <div class="flex-footer col-md-2 col-sm-12">
          <div class="footer-widget">
            <div class="footer-menu footer-menu--1">
              <ul>
                <li>
                  <a href="#">Wordpress</a>
                </li>
                <li>
                  <a href="#">Plugins</a>
                </li>
                
              </ul>
            </div>

          </div>
 
        </div>


        <div class="flex-footer col-md-2 col-sm-12">
          <div class="footer-widget">
            <div class="footer-menu">
              <ul>
                <li>
                  <a href="#">About Us</a>
                </li>
                <li>
                  <a href="#">How It Works</a>
                </li>

              </ul>
            </div>

          </div>

        </div>


        <div class="flex-footer end col-md-5 col-sm-12">

            <div class="footer-menu no-padding">
              <ul class="flex-footer ">
                <li class="mr-4 ">
                  <a class="img-tiendas" href="#"><img src="../../assets/images/appstore.svg" alt=""></a>
                </li>
                <li>
                  <a class="img-tiendas" href="#"><img src="../../assets/images/playstore.svg" alt=""></a>
                </li>
                
              </ul>
            </div>
        
          
          
        </div>

      </div>
    </div>

  </div>

  <div class="mini-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="rounded-social-buttons">
                    <a class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a class="social-button twitter" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a class="social-button youtube" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
                    <a class="social-button tiktok" href="https://www.tiktok.com/" target="_blank"><i class="fa-tiktok"></i><svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="tiktok" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-tiktok fa-w-14 fa-lg"><path fill="currentColor" d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z" class=""></path></svg></a>
                    <a class="social-button instagram" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-md-7 col-sm-12 flex-footer end">
                <div class="copyright-text" >
                    <p> Copyright © 2021
                    <a href="#">weelo</a>. All rights reserved.
                    </p>
                </div>
            </div>
                

            <div class="go_chat">
                <span class="icon-chat"></span>
            </div>
        </div>
      
    </div>
  </div>
</footer>