<div class="container main-margin">
    <div class="row">
        <div class="col-sm">
            <h1>The most <span class="color-secundario">extensive tenant</span> report</h1>
            <form class="formulario">
                <h2 class="color-secundario text-center pb-3">Screen your tenant</h2>
                <div class="form-group">
                    <input placeholder="Tenant name" type="email" class="form-control" id="TenantName" >
                </div>
                <div class="form-group">
                    
                    <input placeholder="Mobile name" type="password" class="form-control" id="MobileName">
                </div>
                
                <button type="submit" class="mt-3 btn btn-primary">Submit</button>
            </form> 
            <div class="mt-4">
                <a class="mr-5 img-tiendas" href=""><img src="../../assets/images/appstore.svg" alt=""></a>     
                <a class="img-tiendas" href=""><img src="../../assets/images/playstore.svg" alt=""></a>    
            </div>
            
        </div>
        <div class="col-sm">
            <div class="celular-dummy"></div>
        </div>
        <div class="col-sm navBg pl-0 pr-0">
            <ul class="lista-servicios" >
                
                <h2 class="pt-5 font-header-services"><span class="font-big">50+</span>  <br> data signals <br> <span class="font-big">include:</span> </h2>
                <li class="" *ngFor="let servicios of servicios;  let i = index"><i class="icon-list">{{i}}</i>{{ servicios.servicio }}</li>
               
            </ul>
            <div class="scroll-down"> <img src="../../assets/images/scroll-down.svg" alt=""></div>
        </div>
    </div>
</div>